@media screen and (min-width: 414px) {
    body {
        background-image: url(clouds.jpg);
        background-repeat: no-repeat;

    }

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
    }





}
